@font-face {
  font-family: 'icomoon';
  src:  url(/fonts/icomoon.eot?14b202f6c66bcda3c60b923a563103b5);
  src:  url(/fonts/icomoon.eot?14b202f6c66bcda3c60b923a563103b5#iefix) format('embedded-opentype'),
    url(/fonts/icomoon.ttf?68faf8fca6b4933f2ad1557e6fec5037) format('truetype'),
    url(/fonts/icomoon.woff?73c0d2bd414970f49c2534d8ac86c164) format('woff'),
    url(/fonts/icomoon.svg?f1ad814fb81c0c5f0507332d10c1c48e#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-portrait:before {
  content: "\E915";
}
.icon-camera-outline:before {
  content: "\E912";
}
.icon-image:before {
  content: "\E913";
}
.icon-camera:before {
  content: "\E914";
}
.icon-smartphone:before {
  content: "\E910";
}
.icon-phone:before {
  content: "\E911";
}
.icon-mobile:before {
  content: "\E911";
}
.icon-contact:before {
  content: "\E911";
}
.icon-telephone:before {
  content: "\E911";
}
.icon-lock:before {
  content: "\E90F";
}
.icon-eye-view:before {
  content: "\E900";
}
.icon-x:before {
  content: "x";
}
.icon-qiwanggongzuo:before {
  content: "\E65C";
}
.icon-fenxiang:before {
  content: "\E64B";
}
.icon-shangcheng:before {
  content: "\E77C";
}
.icon-gongzuojingli:before {
  content: "\E61A";
}
.icon-liwuhe:before {
  content: "\E619";
}
.icon-qian:before {
  content: "\E605";
}
.icon-jiahao:before {
  content: "\E665";
}
.icon-tongzhi:before {
  content: "\E60E";
}
.icon-fenxiang1:before {
  content: "\E65A";
}
.icon-correct:before {
  content: "\E6A1";
}
.icon-shangquanguimo:before {
  content: "\E6FE";
}
.icon-correct-filling:before {
  content: "\E604";
}
.icon-loading:before {
  content: "\E648";
}
.icon-ditie:before {
  content: "\E606";
}
.icon-jianli:before {
  content: "\E707";
}
.icon-xiaoxi:before {
  content: "\E6AD";
}
.icon-hot:before {
  content: "\E701";
}
.icon-v:before {
  content: "\E681";
}
.icon-weixiao:before {
  content: "\E603";
}
.icon-saomiao:before {
  content: "\E699";
}
.icon-sousuo:before {
  content: "\E641";
}
.icon-shezhi:before {
  content: "\E661";
}
.icon-qianbao:before {
  content: "\E614";
}
.icon-aixin:before {
  content: "\E6A2";
}
.icon-gongsi:before {
  content: "\E744";
}
.icon-yinsi1:before {
  content: "\E626";
}
.icon-close:before {
  content: "\E901";
}
.icon-company:before {
  content: "\E902";
}
.icon-down:before {
  content: "\E903";
}
.icon-earth:before {
  content: "\E904";
}
.icon-education:before {
  content: "\E906";
}
.icon-left:before {
  content: "\E905";
}
.icon-love:before {
  content: "\E907";
}
.icon-me:before {
  content: "\E908";
}
.icon-message:before {
  content: "\E909";
}
.icon-position:before {
  content: "\E90A";
}
.icon-right:before {
  content: "\E90B";
}
.icon-seniority:before {
  content: "\E90C";
}
.icon-top:before {
  content: "\E90D";
}
.icon-circle-with-cross:before {
  content: "\E90E";
}
.icon-eye-blocked:before {
  content: "\E9D1";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button:focus {
  outline: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */

a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

.flex_parent {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.flex_child {
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.infoleft {
  float: left;
}

.inforight {
  float: right;
}

.clear:after {
  display: table;
  content: '';
  clear: both;
}

.border-top {
  position: relative;
}

.border-top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #808080;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.3);
  transform: scaleY(0.3);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.horizontal-slide-enter-active,
.horizontal-slide-leave-active {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.horizontal-slide-enter,
.horizontal-slide-leave-to {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.vertical-slide-enter-active,
.vertical-slide-leave-active {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.vertical-slide-enter,
.vertical-slide-leave-to {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.cell li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #e9efef;
  padding: 0 0.3rem;
  background: #ffffff;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .cell li {
    border-top: 0.5px solid #e9efef;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .cell li {
    border-top: 0.333333px solid #e9efef;
  }
}

.cell li.active:active {
  background: #d9d9d9;
}

.cell li .item-value {
  color: rgba(0, 0, 0, 0.5);
}

.cell li .item-value.placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.cell li i.icon {
  font-size: .3rem;
  color: #53CAC3;
}

.theme-button {
  height: 50px;
  line-height: 50px;
  font-size: 0.45rem;
  text-align: center;
  background: #53CAC3;
  border-radius: 0.15rem;
  color: #fff;
  margin: 10px;
}

.right-float {
  float: right;
}

._effect {
  opacity: 1;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

._effect--30 {
  -webkit-transform: translate3d(-30%, 0, 0);
          transform: translate3d(-30%, 0, 0);
}

._effect--50 {
  opacity: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

