
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables"

@import "fontstyle.css"
// mixin
@import "mixin"

@import "base"

.theme-button
  height: 50px
  line-height: 50px
  font-size: 0.45rem
  text-align: center
  background: $color-theme
  border-radius: 0.15rem
  color: $color-text
  margin: 10px