@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b77r0z');
  src:  url('fonts/icomoon.eot?b77r0z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b77r0z') format('truetype'),
    url('fonts/icomoon.woff?b77r0z') format('woff'),
    url('fonts/icomoon.svg?b77r0z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning-outline:before {
  content: "\e917";
}
.icon-home:before {
  content: "\e900";
  color: #ffffff;
  background: #53CAC3;
  border-radius: 50%;
  padding: 5px;
}
.icon-x:before {
  content: "\78";
}
.icon-weixiao:before {
  content: "\e603";
}
.icon-correct-filling:before {
  content: "\e604";
}
.icon-qian:before {
  content: "\e605";
}
.icon-ditie:before {
  content: "\e606";
}
.icon-tongzhi:before {
  content: "\e60e";
}
.icon-qianbao:before {
  content: "\e614";
}
.icon-liwuhe:before {
  content: "\e619";
}
.icon-gongzuojingli:before {
  content: "\e61a";
}
.icon-yinsi1:before {
  content: "\e626";
}
.icon-sousuo:before {
  content: "\e641";
}
.icon-loading:before {
  content: "\e648";
}
.icon-fenxiang:before {
  content: "\e64b";
}
.icon-fenxiang-angle:before {
  content: "\e65a";
}
.icon-qiwanggongzuo:before {
  content: "\e65c";
}
.icon-shezhi:before {
  content: "\e661";
}
.icon-jiahao:before {
  content: "\e665";
}
.icon-v:before {
  content: "\e681";
}
.icon-saomiao:before {
  content: "\e699";
}
.icon-correct:before {
  content: "\e6a1";
}
.icon-aixin:before {
  content: "\e6a2";
}
.icon-xiaoxi:before {
  content: "\e6ad";
}
.icon-shangquanguimo:before {
  content: "\e6fe";
}
.icon-hot:before {
  content: "\e701";
}
.icon-jianli:before {
  content: "\e707";
}
.icon-gongsi:before {
  content: "\e744";
}
.icon-shangcheng:before {
  content: "\e77c";
}
.icon-eye-view:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-company:before {
  content: "\e903";
}
.icon-down:before {
  content: "\e904";
}
.icon-earth:before {
  content: "\e905";
}
.icon-left:before {
  content: "\e906";
}
.icon-education:before {
  content: "\e907";
}
.icon-love:before {
  content: "\e908";
}
.icon-me:before {
  content: "\e909";
}
.icon-message:before {
  content: "\e90a";
}
.icon-position:before {
  content: "\e90b";
}
.icon-right:before {
  content: "\e90c";
}
.icon-seniority:before {
  content: "\e90d";
}
.icon-top:before {
  content: "\e90e";
}
.icon-circle-with-cross:before {
  content: "\e90f";
}
.icon-lock:before {
  content: "\e910";
}
.icon-smartphone:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-camera-outline:before {
  content: "\e913";
}
.icon-image:before {
  content: "\e914";
}
.icon-camera:before {
  content: "\e915";
}
.icon-portrait:before {
  content: "\e916";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-spinner:before {
  content: "\e984";
}
.icon-sina-weibo:before {
  content: "\ea9a";
  color: #ffffff;
  background: #e65555;
  border-radius: 50%;
  padding: 5px;
}
.icon-dribbble:before {
  content: "\eaa7";
  color: #ffffff;
  background: #fbb2d2;
  border-radius: 50%;
  padding: 5px;
}
.icon-github:before {
  content: "\eab0";
  color: #fff;
  background: #a59898;
  border-radius: 50%;
  padding: 5px;
}

